 form {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
  }
  
  .form-control {
    margin-bottom: 1rem;
  }
  
  label, input {
    display: block;
    width: 100%;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    font: inherit;
    border: 1px solid #ccc;
    padding: 0.25rem;
  }
  
  input:focus {
    outline: none;
    border-color: #50005a;
  }
  
  button {
    background: none;
    border: 2px solid #50005a;
    border-radius: 15px;
    color:  #50005a;;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
  }
  
  button:focus {
    outline: none;
  }
  
  button:hover {
    color: white;
    border-color: #50005a;
    background: #6a0a77;

    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0.5em 0.5em -0.4em rgba(80, 0, 90, 0.25);
    transform: translateY(-0.25em);
  }

    button:active {
        transform: translateY(0.25em);
    }

